h1 {
    font-size:8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span {
    vertical-align: middle;
}
.white {
    text-align: center;
    font-weight: bold;
    font-size: 2.2em;
    line-height:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.small-white {
    text-align: center;
    line-height: 30px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.arrow{
    height:100px;
}

body{
    background-color:gray;
}

.event {
    color:white;
    transition: 0.5s;
}

#titleDiv {
    position: relative;
    margin-top: 10%;
    float: right;
    margin-left: auto;
    margin-right: 2%;
}
#title {
    font-weight: bold;
    color: white;
    position: absolute;
    left:-1%;
    top:-1%;
}
#shadow {
    font-weight: bold;
    color: black;
}
#background {
    width:100%;
    height:95%;
    position:absolute;
    transition:0.7s;
    filter:invert(20%)
}

body {
    transition: background-color 1s;
}

.sidenav {
    height: 20%;
    width: 100%;
    position: fixed;
    top: 80%;
    background-color: #111;
    transition: 1s;
}

.main {
    height: 1.6em;
    width: 1.7em;
    transition: 0.3s;
    margin-top: 1%;
    margin-bottom:1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer {
    float: right;
    color: #ffff99;
    margin-right: 1%;
    font-size: 0.9em;
}

#menu{
    height: 70%;
    width:20%;
    margin-left:2%;
    margin-top:1.5%;
    position:absolute;
    transition:0.3s;
}

.rectangle {
    margin-top: 5%;
    position: relative;
    width: 100%;
    border-style: solid;
    color: white;
    height: 45px;
    cursor: pointer;
}

#content {
    height: 70%;
    width: 70%;
    margin-left: 26%;
    margin-top:2.5%;
    position: absolute;
}
.show {
    border-style: solid;
    color: white;
}
.general{
    width:45%;
    height:auto;
    margin-top:4%;
}
#p1 {
    font-size: 0.8em;
    line-height: 1.3em;
    text-align:left;
}
#p2 {
    font-size: 0.73em;
    line-height: 1.3em;
    text-align: left;
}
#p3-1 {
    font-size: 0.7em;
    line-height: 1em;
    text-align: left;
}
.p3-2 {
    font-size: 0.6em;
    line-height: 1.3em;
    text-align: left;
}
p:before {
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 ";
}
p.none:before{
    content:none;
}
.smallest-white {
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    color: white
}
.smallest-white-2 {
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: white
}
.general-small {
    width: 25%;
    height: auto;
    margin-left:3%;
}
.line-space{
    line-height:5em;
    font-size:0.7em;
    color:white;
    text-align:left;
}
